# .gitignore
# 图片、pdf等。
#sy-notebook/data/assets
# 其他的目录、文件。
sy-notebook/data/.siyuan
sy-notebook/data/storage/recent-doc.json
sy-notebook/conf/windowState.json
sy-notebook/conf/appearance/langs
sy-notebook/backup
sy-notebook/history
sy-notebook/sync
sy-notebook/temp
sy-notebook/.lock
.stfolder/*
# 屏蔽笔记本
sy-notebook/data/20240617024158-kpg0hoj